// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: inline-block;
  font-weight: bold;
  padding: rem(10px) rem(5px);
  &:hover {
    text-decoration: none;
  }
}
.close-button{
  margin-top: 10px;
  float:right; 
  color:white; 
  font-size:25px;
  font-family: 'Open Sans';
  display: none;
  a{
    color:white; 
    padding:10px 20px;
    text-decoration: none;
  }
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Default ----- //

.Button--default {
  color: $c-white;
  fill: $c-white;
}

// ----- Brand ----- //

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-blue;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
