#lang_sel_list , #lang_sel_list a:visited{
	display: block !important;
	
	a{
		background:$c-primary !important; 
		border:none !important;
		color:$c-primary !important;	
	}
	width: auto !important;

	ul{
		border-top:none !important;
		float:none;
	}
	li {
		width: 40px !important;
	}
}


//products
.product-lightbox {
	position: fixed;
	max-width: 800px; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999999999;
	img {
		width: 100%;
		max-width: 800px;
		border: 2px solid $c-gold;
	}
}

//contact page
.page-template-template-contact, .wishlistform {
	.contactform-container {
		color: white;
		form { 
			input, textarea {
				background-color: $c-gold;
				border: 1px solid #7b6852;
				color: black;
			}
		}
			
	}
}


.edit-h1{
	margin-bottom:0px;
}
.landingspagina{
	color:$c-secondary;
	  -moz-column-count: 2;
	  -moz-column-gap: 20px;
	  -moz-column-rule: none;
	  -webkit-column-count: 2;
	  -webkit-column-gap: 20px;
	  -webkit-column-rule: none;
	column-count: 2;
	column-gap: 20px;
	column-rule: none;
	margin-bottom:50px;
}
.gold-text{
	color:$c-secondary;
	h1{
		font-weight: 100;
	}
}
.gold-hr{
	border-color:$c-secondary;
}
#preloader{
	margin-top:150px;
	width:100%;
	height:100%;
	text-align:center;
	position:absolute;
	z-index:9999999;
	background:#392c26;
 	background-image: url(../img/pattern.png);
 	padding-top:300px;
 	display:block;
}
.image-row{
	margin-top:10px;
	img{
		border: 2px solid #d7c490;
		width:24.2%;
		
	}
}
.Content {

}
.background-gradient{
	a{
		color:black;
		text-decoration: none;
	}
}
.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/pattern.png);
  top:0px;
  bottom:0px;
}
.slider-overlay{
	position:absolute;
	width:100%;
	z-index:9999; 
	bottom:10%;	
}
.hidden-content-img{
	//height:120px;
	overflow:hidden;
}
.hidden-content { display: none;}
.gradient-overlay{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.4);
}

//=====Products====
.product-thumb-home{
	background:$c-gold;
	@include background-image(linear-gradient(to top, #695545, $c-secondary, $c-secondary, $c-secondary, $c-secondary, #695545 ));
	padding:2px;
	img{
		width:100%;
	}
	a{
		color:black;
	}
}
.product-thumb{
	@extend .product-thumb-home;
	@include background-image(linear-gradient(to right, #695545, $c-secondary, $c-secondary, $c-secondary, #695545 ));
	width:18%;
	z-index:99;
	position: relative;
	float: left;
	margin-right: 1rem;
	margin-bottom:1rem;
	cursor:pointer;
	img{
	//	height:120px;
	}
}
.product-gallery-fade-small{
	display:none;
}
.thumb-text{
	text-align:center;
	line-height:2;
	margin-top:-10px;
	padding-top:10px;

}
.product-container{
	position:relative;
	background-image: url(../img/jackets-back.png);
	background-size:cover;
	
}
.product-container-shoe{
	position:relative;
	background-image: url(../img/winkel-shoe.jpg);
	background-size:cover;
	
}
.product-wrapper{
	margin-top:50px;
}
.fade{
	 background:rgba(0, 0, 0, 0.8) !important;  
	 color:white; 
	 min-height:640px; 
	 overflow:hidden;
}
.full-width-gallery-container{
	float:right;
	width:61%;
	margin-right:20px;
}
.spec-text{

}

.wishlist {
	color: black;
	background-color: $c-gold;
	padding: 15px;
    margin: 0px;
	display: block;
	text-align: center;
	font-size: 16px !important;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Open Sans';
	background-image: linear-gradient(to right, #695545, #D7C490, #E9DAAF, #D7C490);
	&:hover {
		background: lighten($c-gold, 10%);
		cursor: pointer;
		text-decoration: none;
	}
}
.wishlistform {
	display: none; //gets displayed after click

	background-color: rgba(0,0,0,0.9);
	padding: 20px;
	border: 0px solid $c-gold;
	position: fixed;
	max-width: 800px; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999999999;
	form {
		img {
			border: 0px solid black !important;
			//spinner
			width: 32px;
			display: none;
		}
		.validation_message, label {
			color: white !important;
		}
		.validation_message {
			font-size: 8px;
		}

		.gfield_error {
			background-color: #000 !important;
			border: none !important;
		}
		.validation_error {
			display:none !important; 
		}
	}
	input, textarea {
		width: auto !important;
	}
	img {
		width: 100%;
		max-width: 800px;
		border: 2px solid $c-gold;
	}
	.close {
		color: $c-gold;
		font-size: 35px;
		font-weight: bold;
		position: absolute;
		top: 5px;
		right: 10px;

	}
}

.spec-img{

	&:hover { 
		cursor: pointer;
	}
	border:2px solid $c-secondary;
	margin-top:20px;
	img{
	width:100%;
	height:100%;
	margin-bottom:-2px;	
	}
}
.next-prev{
	position:relative;
	z-index:99;
	float:left;
	width:100%;
	margin-bottom:20px;
	div{
		width:35px;
		height:35px;
		background:white;
		border:2px solid $c-secondary;
		text-align: center;
		font-size: 30px;
		background:$c-primary;
		line-height: 0.85;
		margin-right: 5%;
		
	}
	a{
		color:$c-secondary !important;
		text-decoration: none;
	}
}
//=========Bars=========
.bar{
	position:relative;
	margin:0 auto;
	width:0%;
	@include background-image(linear-gradient(to right, #695545, $c-secondary, $c-secondary, #695545 ));
	line-height:0;
	padding-right:20px;
	font-family: 'Crimson Text', serif;
	text-align:center;
	overflow:hidden;
	h3{
		font-weight: italic;
		font-family: 'Crimson Text', serif; 
		color:$c-primary;
	}
}
.bar-text{
	width:300px;
	float:right;
	h3 {
		color: $c-white !important; 
	}
}
.bar-container{
	width:30%;
	.left{
	@include background-image(linear-gradient(to right, #695545, $c-secondary, #e9daaf, $c-secondary));	
	text-align:right;
	margin:0px; 
	}
	.black{
		width:0%;
		//background:rgba(0, 0, 0, 0.8);
		background:rgba(42, 33, 28, 0.8);
		text-align: left;
		color:white;
		line-height: 1;
		margin:0px;
		overflow:hidden;
		height:600px;
	}

}
.full-width-bar-container{
	@extend .bar-container;
	float:left;
	margin-bottom:50px;
	width:31%;
}

.slideshowlink{
	display:none;
}
//===============================



//======gallery fix======
.ngg-gallery-thumbnail {
	
	img{
		background:$c-secondary !important;
		border-color:gold;
		width:100%
	}
}

.product-gallery{
	margin-top: 50px;
	margin-bottom:20px;
}
.product-gallery-fade{
	display:none;
	min-height:580px;
}
.product-gallery-fade-small{
	display:none;
	min-height:580px;
}
.ngg-gallery-thumbnail-box{
	width: 188px;
	height: 140px;
}
//==========Contact=============
#gform_submit_button_1{
	color:black;
}
.contact-g{
	width:17%;
	position:relative;
	z-index:99;
	margin-left:13%;

}

.adress-info{ 
	border:2px solid $c-secondary;
	padding:20px; 
	color:white; 
	background:rgba(0, 0, 0, 0.6);
	p {
	//	font-size: 16px;
		font-family: 'Open Sans';
	}
	h4{
		line-height: 0;
	}
}
.adress{
	top:0px; 
	//background:rgba(0, 0, 0, 0.6); 
	margin-right:0px;
}
#map_canvas{
	min-height:782px;
	position:relative;
}
.Content-text{
	z-index:999;
	position:relative;
}
#input_1_1{
	width:100%
}
#input_1_2{
width:100%
}
#input_1_3{
width:100%
}
#input_1_4{
width:100%
}
#input_1_5{
width:100%
}
@media all and (min-width:1440px){
	.bx-wrapper{
		height:650px;
		overflow:hidden;
		img{
			margin-top: -300px;
		}
	}
}
@media all and (max-width:1260px){
	.product-thumb{
		width:22%;
	}
	.bar-text{
		width:280px;
	}
	.adress{
		width:30%;
		.bar{
			padding-right:0px;
		}
	}
	.contact-g{
		width:20%;
	}

}
@media all and (max-width:1024px){
	.contact-g{
		width:30%;
		position:absolute;
		right:30%;
		bottom:11.3%;
	}
	.adress-info{
		border:0px;
	}
	.bar-text{
		width:260px;
	}
}
@media all and (max-width:960px){
	.product-thumb{
		width:30%;
	}
	.bar-text{
		width:250px;
	}
	.product-thumb-home{
		margin-top: 10px;
		margin-bottom:10px;
	}
}
@media all and (max-width:900px){
	#preloader{
		margin-top: 138px;
	}
	.product-container-contact{
		top:137px;
	}
	.contact-g{
		bottom:12.7%;
	}
}
@media all and (max-width:890px){
	.full-width-bar-container{
		display:none;
		position:fixed;
		width:100%;
		z-index: 999;
	}
	.close-button{
		display: block !important; 
	}
	.left{
		display: none;
	}
	.full-width-gallery-container{
		width:100%;
		margin-right: 0px;
		padding-left:3%;
	}
	.black{
		height:auto !important;
		padding:20px;
		padding-top:0px;
	}
	.spec-img{
		width:45%;
		float:left;
		margin-right:20px;
	}
	.spec-text{
		float:left;
		width:45%;
	}
	.bar-text{
		width:100%;
		height: auto;
	}
	.product-thumb{
		width:23%;
	}
	.product-wrapper{
		margin-top: 20px;
	}
}
@media all and (max-width:780px){
	.product-thumb{
		width:31%;
	}

}
@media all and (max-width:680px){
	.product-thumb{
		width:30%;
	}
	.full-width-gallery-container{
		padding-left:4%;
	}
	.full-width-bar-container{
		position:fixed;
		top:0px;
	}
}
@media all and (max-width:640px){
	.product-thumb-home{
		margin-bottom:0px;
		@include background-image(linear-gradient(to top, $c-secondary, #695545, $c-secondary, $c-secondary, $c-secondary, #695545 ));
		&:last-child{
			margin-bottom: 20px;
		}
	}
}
@media all and (max-width:540px){
	.product-thumb{
		width:46%;
	}
	.spec-img{
		width:100%;
		float:left;
		margin-right:20px;
	}
	.spec-text{
		float:left;
		width:100%;
	}
	.slider-box{
		display:none;
	}
}
@media all and (max-width:375px){
	.product-thumb{
		width:45%;
	}
}
