// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  @include clearfix;
  text-align: center;
}
.dropdown-menu{
  margin-top: 17px;
}
.nav-row {
	padding-top: 10px;
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-list {
	display: block; 
	margin: 0px;
  a{
    color:$c-gold;
  }
  li{
    border-right:1px solid $c-gold;
    padding-bottom: 30px;
    &:first-of-type{
      border-left:1px solid $c-gold;
    }
  }
}


.Navigation-link.is-active {
  text-decoration: underline;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: block;
  padding: 0 rem(15px);
  float: left;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}
